fastapi==0.104.1
uvicorn==0.24.0
httpx==0.27.0
python-dotenv==1.0.0
numpy==1.26.2
pandas==2.1.3
pydantic==2.5.2
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.6
pydantic-settings==2.1.0
supabase==2.9.0
twelvedata
tqdm
schedule==1.2.1
pytz==2024.1
aiohttp
yfinance==0.2.37
